<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords" content="">
    <meta name="description" content="">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" sizes="32x32" href="~/Images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Images/favicon-16x16.png">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>    
    <!--SweetAlert-->
    <link href="~/Scripts/SweetAlert/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/SweetAlert/sweetalert.min.js"></script>    
    <!--SignalR-->
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    @RenderSection("head", false)
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")" style="padding: 10px">
                    <img src="~/Images/favicon-32x32.png" height="30" width="30" title="首页" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Manage", "Manager")">权限管理</a></li>
                    <li><a href="@Url.Action("DataManage", "Manager")">数据管理</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("MLoginOut", "Manager")">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="Content" class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>&copy; @DateTime.Now.Year - <a href="https://github.com/631320085" target="_blank">CodeFarmer</a></p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
