@using MVCWeb.Model.Models
@{
    List<BlogComment> CommentList = ViewBag.BlogCommentList as List<BlogComment>;
}
@if (CommentList.Count > 0)
{
    foreach (BlogComment comment in CommentList)
    {
        <div class="row">
            <div class="col-md-12" style="line-height: 32px; margin-bottom: 10px">
                <a><img src="@comment.Owner.AvatarUrl&s=32" alt="@comment.Owner.Name" title="@comment.Owner.Name"></a>
                <a>@comment.Owner.Name</a>
                <span class="fs2"> at <span class="glyphicon glyphicon-time"></span>@comment.InsertDate.ToString("yyyy-MM-dd HH:MM")</span>
            </div>
            <div class="col-md-12">
                @Html.Raw(comment.MDValue)
            </div>
            <div class="col-md-12 fs2 text-right" style="margin-top: -15px">
                @if (comment.ReplyCount > 0)
                {
                    <a style="text-decoration:none">@comment.ReplyCount 条回复</a>
                }
                else
                {
                    <a href="javascript:;" style="color:#999;text-decoration:none">回复</a>
                }
            </div>
        </div>
        <div id="ReplyBox" class="row" style="padding-left: 32px; display:none">
            <div id="Replys@(comment.ID)">

            </div>
            <div class="col-md-12">
            </div>
            <div class="col-md-12">
                <textarea class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr style="border: 1px dotted #eee; margin: 5px" />
            </div>
        </div>
    }
}
else
{
    <div class="col-md-12 text-center">
        还没有人评论
    </div>
}
<input type="hidden" id="CommentTotalCount" value="@ViewBag.TotalCount" />