@using MVCWeb.Model.Models
@{
    Blog Blog = ViewBag.Blog as Blog;
    ViewBag.Title = Blog.Title + " - 象空";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    int CPageSize = 10;
    int RPageSize = 10;
}
@section head{
    <!--highlight.js-->
    <link href="~/Scripts/HighlightJs/default.min.css" rel="stylesheet" />
    <script src="~/Scripts/HighlightJs/highlight.min.js"></script>
    <!--marked-->
    <script src="~/Scripts/Marked/marked.js"></script>
    <!--simplePagination-->
    <script src="~/Scripts/SimplePagination/jquery.simplePagination.js"></script>
    <script>
        $(function () {
            SetViewer("MDValue");
            $("#CommentBox").hide();
            $("#PreBox").hide();
            @if(ViewBag.COrder == 0)
            {
                @Html.Raw("GetCommentPage(1);")
            }
            else
            {
                int cOrder = (int)ViewBag.COrder;
                int cPage = cOrder % CPageSize == 0 ? cOrder / CPageSize : cOrder / CPageSize + 1;
                @Html.Raw("FirstLoad = false;\n")
                @Html.Raw("GetCommentPage(" + cPage + ");\n")
                @Html.Raw("$(\"html,body\").animate({ scrollTop: $(\"#Comment" + cOrder + "\").offset().top }, 300);\n")

                if (ViewBag.ROrder != 0)
                {
                    int rOrder = (int)ViewBag.ROrder;
                    int rPage = rOrder % RPageSize == 0 ? rOrder / RPageSize : rOrder / RPageSize + 1;
                    @Html.Raw("ShowReply(" + cOrder + ", " + rPage + ");\n")
                    @Html.Raw("$(\"html,body\").animate({ scrollTop: $(\"#ReplyBox" + cOrder + "\").offset().top }, 300);\n")
                }
            }

            //代码高亮插件
            marked.setOptions({
                highlight: function (code) {
                    return hljs.highlightAuto(code).value;
                },
                sanitize: true
            });

            //评论
            $("#BtnComment").click(function () {
                $("#CommentBox").show();
                $(document).scrollTop(9999);
            });
            //取消
            $("#BtnCancel").click(function () {
                $("#CommentBox").hide();
            });
            //评论面板
            $("#BtnCmt").click(function () {
                $("#BtnCmt").parent().removeClass("active");
                $("#BtnPre").parent().removeClass("active");
                $("#BtnCmt").parent().addClass("active");
                $("#PreBox").hide();
                $("#EditBox").show();
            });
            //预览面板
            $("#BtnPre").click(function () {
                $("#BtnCmt").parent().removeClass("active");
                $("#BtnPre").parent().removeClass("active");
                $("#BtnPre").parent().addClass("active");
                $("#EditBox").hide();
                $("#PreBox").show();

                $("#PreBox").html("");
                $("#PreBox").html(marked($("#CmtTxt").val()));
            });
            //确定
            $("#BtnConfirm").click(function () {
                var txt = $("#CmtTxt").val();
                if (txt.length == 0) {
                    swal("请填写评论内容");
                    return;
                }
                if (getBt(txt) > 2000) {
                    swal("评论最多2000字节，当前" + getBt(txt) + "字节");
                    return;
                }
                $.ajax({
                    url: "@Url.Action("AddBlogComment", "Home")",
                    data: { blogID: "@Blog.ID", mdTxt: txt, mdValue: marked(txt) },
                    type: "post",
                    success: function (result) {
                        if (result.msg == "done") {
                            GetCommentPage(99999);
                            $("#CmtTxt").val("");
                            $("#BtnCmt").click();
                            $("#CommentBox").hide();
                            SendNewMsg("@Blog.OwnerID");
                            $("#CommentCount").html(result.count);
                        } else {
                            swal(result.msg);
                        }
                    }
                });
            });

            //点赞
            $("#BtnPro").click(function () {
                $.ajax({
                    url: "@Url.Action("ProBlog", "Home")",
                    data: { id: "@Blog.ID" },
                    type: "post",
                    success: function (result) {
                        if (result.msg == "done") {
                            $("#BtnPro").hide();
                            $("#ProCount").html(result.count);
                        }
                    }
                });
            });

            //收藏
            $("#BtnStar").click(function () {
                $.ajax({
                    url: "@Url.Action("StarBlog", "Home")",
                    data: { id: "@Blog.ID" },
                    type: "post",
                    success: function (result) {
                        if (result.msg == "done") {
                            $("#BtnStar").hide();
                        }
                    }
                });
            });
        });

        var FirstLoad = true;
        //获取评论
        function GetCommentPage(index) {
            var pageSize = @Html.Raw(CPageSize) ;
            var postData = { blogID: "@Blog.ID", pageSize: pageSize, pageNum: index }
            $.ajax({
                url: "@Url.Action("BlogCommentPage", "Home")",
                type: "Post",
                async: false,
                data: postData,
                success: function (result) {
                    $("#Comments").html(result);
                    if (!FirstLoad) {
                        $("html,body").animate({ scrollTop: $("#Status").offset().top }, 300)
                    }
                    FirstLoad = false;
                    if ($("#CommentTotalCount").val() == "0") {
                        return;
                    }
                    $("#Pager").pagination({
                        items: $("#CommentTotalCount").val(),
                        itemsOnPage: pageSize,
                        currentPage: $("#CommentCurrentPage").val(),
                        prevText: "<",
                        nextText: ">",
                        listStyle: "pagination",
                        hrefTextPrefix: "javascript:;",
                        onPageClick: function (pageNumber, event) {
                            GetCommentPage(pageNumber);
                        }
                    });
                }
            });
        }

        //显示回复
        function ShowReply(corder, index) {
            if ($("#ShowReply" + corder).html() == "收起回复") {
                $("#ReplyBox" + corder).hide();
                var recount = $("#ShowReply" + corder).attr("recount");
                if (recount == "0") {
                    $("#ShowReply" + corder).html("回复");
                } else {
                    $("#ShowReply" + corder).html(recount + "条回复");
                }
            } else {
                $("#ReplyBox" + corder).show();
                $("#ShowReply" + corder).html("收起回复");
                if ($("#Replys" + corder).html() == "") {
                    GetCommentReplyPage(index, corder);
                }
            }
        }

        //添加回复
        function AddReply(corder) {
            var txt = $("#ReplyTxt" + corder).val();
            var toUser = $("#ReplyTxt" + corder).attr("touser");
            var cmid = $("#Comment" + corder).attr("cmid");
            if (txt.length == 0) {
                swal("请填写回复内容");
                return;
            }
            if (getBt(txt) > 400) {
                swal("评论最多400字节，当前" + getBt(txt) + "字节");
                return;
            }
            $.ajax({
                url: "@Url.Action("AddBlogCommentReply", "Home")",
                data: { commentID: cmid, toUserID: toUser, txt: txt },
                type: "post",
                success: function (result) {
                    if (result.msg == "done") {
                        GetCommentReplyPage(99999, corder);
                        $("#ReplyTxt" + corder).val("");
                        SendNewMsg(toUser);
                    } else {
                        swal(result.msg);
                    }
                }
            });
        }

        //获取评论回复
        function GetCommentReplyPage(index, corder) {
            var pageSize = @Html.Raw(RPageSize) ;
            var cmid = $("#Comment" + corder).attr("cmid");
            var postData = { commentID: cmid, corder: corder, pageSize: pageSize, pageNum: index }
            $.ajax({
                url: "@Url.Action("BlogCommentReplyPage", "Home")",
                type: "Post",
                data: postData,
                success: function (result) {
                    $("#Replys" + corder).html(result);
                    if ($("#ReplyTotalCount" + corder).val() == "0") {
                        return;
                    }
                    $(".ReplyBar").each(function () {
                        $(this).hover(function () {
                            $(this).find("#BtnReply").show();
                        }, function () {
                            $(this).find("#BtnReply").hide();
                        });
                    });
                    $("#ReplyPager" + corder).pagination({
                        items: $("#ReplyTotalCount" + corder).val(),
                        itemsOnPage: pageSize,
                        currentPage: $("#ReplyCurrentPage" + corder).val(),
                        prevText: "<",
                        nextText: ">",
                        listStyle: "pagination pagination-sm",
                        hrefTextPrefix: "javascript:;",
                        onPageClick: function (pageNumber, event) {
                            GetCommentReplyPage(pageNumber, corder);
                        }
                    });
                }
            });
        }

        //回复指定用户
        function ReplyToUser(corder, userName, userID) {
            $("#ReplyToUser" + corder).html("@@" + userName);
            $("#ReplyTxt" + corder).attr("touser", userID);
            $("#DefaultUser" + corder).show();
        }

        //回复默认用户
        function ReplyDefault(corder, defaultName, defaultID) {
            $("#ReplyToUser" + corder).html("@@" + defaultName);
            $("#ReplyTxt" + corder).attr("touser", defaultID);
            $("#DefaultUser" + corder).hide();
        }
    </script>
}
<div class="row" style="padding-top: 15px">
    <div id="MDTitle" class="col-md-11 fs1">
        <div class="well well-sm">
            @Blog.Title
        </div>
    </div>
    <div class="col-md-1 text-right">
        @switch (Blog.Type)
        {
            case (int)EnumBlogType.姿势:
                <span class="label label-primary" style="font-weight: 400">姿势</span>
                break;
            case (int)EnumBlogType.宣传:
                <span class="label label-danger" style="font-weight: 400">宣传</span>
                break;
            case (int)EnumBlogType.心得:
                <span class="label label-info" style="font-weight: 400">心得</span>
                break;
            case (int)EnumBlogType.科普:
                <span class="label label-success" style="font-weight: 400">科普</span>
                break;
            case (int)EnumBlogType.搬运:
                <span class="label label-warning" style="font-weight: 400">搬运</span>
                break;
        }
    </div>
    <div id="MDValue" class="col-md-12 mdv" style="margin-bottom: 15px">
        @Html.Raw(Blog.MDValue)
    </div>
    <div class="col-md-6" id="Status" style="line-height: 40px; height: 40px">
        <a href="@Url.Action("UserProfile", "Home", new { id = Blog.Owner.ID })" target="_blank"><img class="img-rounded" src="@Blog.Owner.AvatarUrl&s=32" height="32" width="32" alt="@Blog.Owner.Name" title="@Blog.Owner.Name"></a>
        <a href="@Url.Action("UserProfile", "Home", new { id = Blog.Owner.ID })" target="_blank">@(string.IsNullOrEmpty(Blog.Owner.Name) ? Blog.Owner.GitHubLogin : Blog.Owner.Name)</a> post at&nbsp;
        <span class="glyphicon glyphicon-time"></span>@Blog.InsertDate.ToString("yyyy-MM-dd HH:mm")&nbsp;
        <span class="glyphicon glyphicon-eye-open"></span>@Blog.ViewCount&nbsp;
        <span class="glyphicon glyphicon-comment"></span><span id="CommentCount">@Blog.CommentCount</span>&nbsp;
        <span class="glyphicon glyphicon-thumbs-up"></span><span id="ProCount">@Blog.ProCount</span>
    </div>
    <div class="col-md-6 text-right" style="line-height: 40px; height: 40px">
        @if (ViewBag.Login)
        {
            <button id="BtnComment" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-comment"></span> 评论
            </button>
            if (!ViewBag.Owner)
            {
                <span>&nbsp;&nbsp;</span>
                if (ViewBag.ShowStar)
                {
                    <button id="BtnStar" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-bookmark"></span> 收藏
                    </button>
                }
                <span>&nbsp;&nbsp;</span>
                if (ViewBag.ShowPro)
                {
                    <button id="BtnPro" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-thumbs-up"></span> 赞
                    </button>
                }
            }
            else
            {
                <span>&nbsp;&nbsp;</span>               
                <a id="BtnEdit" class="btn btn-default" href="@Url.Action("EditBlog", "Home", new { id = Blog.ID })">
                    <span class="glyphicon glyphicon-thumbs-up"></span> 编辑
                </a>
            }
        }
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="well well-sm">
            评论列表
        </div>
    </div>
</div>
<div id="Comments">
</div>
<div class="row">
    <div id="Pager" class="col-md-12 text-center">
    </div>
</div>
<div class="row" id="CommentBox">
    <div class="col-md-12" style="margin-bottom: 10px">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="javascript:;" id="BtnCmt">评论</a></li>
            <li role="presentation"><a href="javascript:;" id="BtnPre">预览</a></li>
        </ul>
    </div>
    <div id="PreBox" class="col-md-12 mdv" style="min-height: 50px">

    </div>
    <div id="EditBox" class="col-md-12">
        <span>查看&nbsp;<a href="http://mvc.objnull.com/zh/Demo/MarkDownSyntax" target="_blank">MarkDown语法</a></span>
        <textarea id="CmtTxt" class="form-control" rows="5" style="resize:vertical;"></textarea>
    </div>
    <div class="col-md-12 text-center" style="margin: 10px 0px">
        <button id="BtnConfirm" class="btn btn-default">确定</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button id="BtnCancel" class="btn btn-default">取消</button>
    </div>
</div>
