@using MVCWeb.Model.Models
@{
    List<BlogCommentReply> CommentReplyList = ViewBag.BlogCommentReplyList as List<BlogCommentReply>;
}

@foreach (BlogCommentReply reply in CommentReplyList)
{
    <div class="ReplyBar col-md-12 fs2">
        <div style="float:left;">
            <a><img src="@reply.Owner.AvatarUrl&s=32" alt="@reply.Owner.Name" title="@reply.Owner.Name"></a>
        </div>
        <div style="padding-left:40px">
            <span>
                <a>@reply.Owner.Name</a>回复<a>@reply.ToUser.Name</a> at @reply.InsertDate.ToString("yyyy-MM-dd HH:mm")
                <a id="BtnReply" style="display:none" href="javascript:;" onclick="ReplyToUser('@reply.BlogCommentID', '@reply.Owner.Name', '@reply.Owner.ID')">回复</a>
            </span>
            <p>@reply.Content</p>
        </div>
    </div>
}
<input type="hidden" id="ReplyTotalCount@(ViewBag.CommentID)" value="@ViewBag.TotalCount" />