@using MVCWeb.Model.Models
@{
    Blog Blog = ViewBag.Blog as Blog;
    ViewBag.Title = Blog.Title + " - 象空";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@section head{
    <!--highlight.js-->
    <link href="~/Scripts/HighlightJs/default.min.css" rel="stylesheet" />
    <script src="~/Scripts/HighlightJs/highlight.min.js"></script>
    <!--marked-->
    <script src="~/Scripts/Marked/marked.js"></script>
    <!--simplePagination-->
    <script src="~/Scripts/SimplePagination/jquery.simplePagination.js"></script>
    <script>
        $(function () {
            SetViewer("MDValue");
            $("#CommentBox").hide();
            $("#PreBox").hide();
            @if(ViewBag.Cmpage == 0)
            {
                @Html.Raw("GetCommentPage(1);")
            }
            else
            {
                @Html.Raw("FirstLoad = false;\n")
                @Html.Raw("GetCommentPage(" + ViewBag.Cmpage + ");\n")
            }

            @if (ViewBag.Cmid != "")
            {
                @Html.Raw("ShowReply('" + ViewBag.Cmid + "', " + ViewBag.Cmrpage + ");\n")
                @Html.Raw("$(\"html,body\").animate({ scrollTop: $(\"#Comment" + ViewBag.Cmid + "\").offset().top }, 300);\n")
            }

            //代码高亮插件
            marked.setOptions({
                highlight: function (code) {
                    return hljs.highlightAuto(code).value;
                }
            });

            //评论
            $("#BtnComment").click(function () {
                $("#CommentBox").show();
                $(document).scrollTop(9999);
            });
            //取消
            $("#BtnCancel").click(function () {
                $("#CommentBox").hide();
            });
            //评论面板
            $("#BtnCmt").click(function () {
                $("#BtnCmt").parent().removeClass("active");
                $("#BtnPre").parent().removeClass("active");
                $("#BtnCmt").parent().addClass("active");
                $("#PreBox").hide();
                $("#EditBox").show();
            });
            //预览面板
            $("#BtnPre").click(function () {
                $("#BtnCmt").parent().removeClass("active");
                $("#BtnPre").parent().removeClass("active");
                $("#BtnPre").parent().addClass("active");
                $("#EditBox").hide();
                $("#PreBox").show();

                $("#PreBox").html("");
                $("#PreBox").html(marked($("#CmtTxt").val()));
            });
            //确定
            $("#BtnConfirm").click(function () {
                var txt = $("#CmtTxt").val();
                if (txt.length == 0) {
                    swal("请填写评论内容");
                    return;
                }
                if (getBt(txt) > 2000) {
                    swal("评论最多2000字节，当前" + getBt(txt) + "字节");
                    return;
                }
                $.ajax({
                    url: "@Url.Action("AddBlogComment", "Home")",
                    data: { blogID: "@Blog.ID", mdTxt: txt, mdValue: marked(txt) },
                    type: "post",
                    success: function (result) {
                        if (result.msg == "done") {
                            GetCommentPage(99999);
                            $("#CmtTxt").val("");
                            $("#BtnCmt").click();
                            $("#CommentBox").hide();
                            SendNewMsg("@Blog.OwnerID");
                        } else {
                            swal(result.msg);
                        }
                    }
                });
            });
        });

        var FirstLoad = true;
        //获取评论
        function GetCommentPage(index) {
            var pageSize = 10;
            var postData = { blogID: "@Blog.ID", pageSize: pageSize, pageNum: index }
            $.ajax({
                url: "@Url.Action("BlogCommentPage", "Home")",
                type: "Post",
                async: false,
                data: postData,
                success: function (result) {
                    $("#Comments").html(result);
                    if (!FirstLoad) {
                        $("html,body").animate({ scrollTop: $("#Status").offset().top }, 300)
                    }
                    FirstLoad = false;
                    if ($("#CommentTotalCount").val() == "0") {
                        return;
                    }
                    $("#Pager").pagination({
                        items: $("#CommentTotalCount").val(),
                        itemsOnPage: pageSize,
                        currentPage: $("#CommentCurrentPage").val(),
                        prevText: "<",
                        nextText: ">",
                        listStyle: "pagination",
                        hrefTextPrefix: "javascript:;",
                        onPageClick: function (pageNumber, event) {
                            GetCommentPage(pageNumber);
                        }
                    });
                }
            });
        }

        //显示回复
        function ShowReply(id, index) {
            if ($("#ShowReply" + id).html() == "收起回复") {
                $("#ReplyBox" + id).hide();
                var recount = $("#ShowReply" + id).attr("recount");
                if (recount == "0") {
                    $("#ShowReply" + id).html("回复");
                } else {
                    $("#ShowReply" + id).html(recount + "条回复");
                }
            } else {
                $("#ReplyBox" + id).show();
                $("#ShowReply" + id).html("收起回复");
                if ($("#Replys" + id).html() == "") {
                    GetCommentReplyPage(index, id);
                }
            }
        }

        //添加回复
        function AddReply(id) {
            var txt = $("#ReplyTxt" + id).val();
            var toUser = $("#ReplyTxt" + id).attr("touser");
            if (txt.length == 0) {
                swal("请填写回复内容");
                return;
            }
            if (getBt(txt) > 400) {
                swal("评论最多400字节，当前" + getBt(txt) + "字节");
                return;
            }
            $.ajax({
                url: "@Url.Action("AddBlogCommentReply", "Home")",
                data: { commentID: id, toUserID: toUser, txt: txt, cmpage: $("#CommentCurrentPage").val() },
                type: "post",
                success: function (result) {
                    if (result.msg == "done") {
                        GetCommentReplyPage(99999, id);
                        $("#ReplyTxt" + id).val("");
                        SendNewMsg(toUser);
                    } else {
                        swal(result.msg);
                    }
                }
            });
        }

        //获取评论回复
        function GetCommentReplyPage(index, commentID) {
            var pageSize = 10;
            var postData = { commentID: commentID, pageSize: pageSize, pageNum: index }
            $.ajax({
                url: "@Url.Action("BlogCommentReplyPage", "Home")",
                type: "Post",
                data: postData,
                success: function (result) {
                    $("#Replys" + commentID).html(result);
                    if ($("#ReplyTotalCount" + commentID).val() == "0") {
                        return;
                    }
                    $(".ReplyBar").each(function () {
                        $(this).hover(function () {
                            $(this).find("#BtnReply").show();
                        }, function () {
                            $(this).find("#BtnReply").hide();
                        });
                    });
                    $("#ReplyPager" + commentID).pagination({
                        items: $("#ReplyTotalCount" + commentID).val(),
                        itemsOnPage: pageSize,
                        currentPage: $("#ReplyCurrentPage" + commentID).val(),
                        prevText: "<",
                        nextText: ">",
                        listStyle: "pagination pagination-sm",
                        hrefTextPrefix: "javascript:;",
                        onPageClick: function (pageNumber, event) {
                            GetCommentReplyPage(pageNumber, commentID);
                        }
                    });
                }
            });
        }

        //回复指定用户
        function ReplyToUser(commentID, userName, userID) {
            $("#ReplyToUser" + commentID).html("@@" + userName);
            $("#ReplyTxt" + commentID).attr("touser", userID);
            $("#DefaultUser" + commentID).show();
        }

        //回复默认用户
        function ReplyDefault(commentID, defaultName, defaultID) {
            $("#ReplyToUser" + commentID).html("@@" + defaultName);
            $("#ReplyTxt" + commentID).attr("touser", defaultID);
            $("#DefaultUser" + commentID).hide();
        }
    </script>
}
<div class="row" style="padding-top: 15px">
    <div id="MDTitle" class="col-md-11 fs1">
        <div class="well well-sm">
            @Blog.Title
        </div>
    </div>
    <div class="col-md-1 text-right">
        @switch (Blog.Type)
        {
            case (int)EnumBlogType.姿势:
                <span class="label label-primary" style="font-weight: 400">姿势</span>
                break;
            case (int)EnumBlogType.宣传:
                <span class="label label-danger" style="font-weight: 400">宣传</span>
                break;
            case (int)EnumBlogType.心得:
                <span class="label label-info" style="font-weight: 400">心得</span>
                break;
            case (int)EnumBlogType.科普:
                <span class="label label-success" style="font-weight: 400">科普</span>
                break;
            case (int)EnumBlogType.搬运:
                <span class="label label-warning" style="font-weight: 400">搬运</span>
                break;
        }
    </div>
    <div id="MDValue" class="col-md-12 mdv" style="margin-bottom: 15px">
        @Html.Raw(Blog.MDValue)
    </div>
    <div class="col-md-6" id="Status" style="line-height: 34px">
        <a>@Blog.Owner.Name</a> post at&nbsp;
        <span class="glyphicon glyphicon-time"></span>@Blog.InsertDate.ToString("yyyy-MM-dd HH:mm")&nbsp;
        <span class="glyphicon glyphicon-eye-open"></span>123&nbsp;
        <span class="glyphicon glyphicon-comment"></span>54&nbsp;
        <span class="glyphicon glyphicon-thumbs-up"></span>10
    </div>
    <div class="col-md-6 text-right">
        @if (ViewBag.Login)
        {
            <button id="BtnComment" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-comment"></span> 评论
            </button>
            <span>&nbsp;&nbsp;</span>
            <button id="BtnPro" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-thumbs-up"></span> 赞
            </button>
        }
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="well well-sm">
            评论列表
        </div>
    </div>
</div>
<div id="Comments">
</div>
<div class="row">
    <div id="Pager" class="col-md-12 text-center">
    </div>
</div>
<div class="row" id="CommentBox">
    <div class="col-md-12" style="margin-bottom: 10px">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="javascript:;" id="BtnCmt">评论</a></li>
            <li role="presentation"><a href="javascript:;" id="BtnPre">预览</a></li>
        </ul>
    </div>
    <div id="PreBox" class="col-md-12 mdv" style="min-height: 50px">

    </div>
    <div id="EditBox" class="col-md-12">
        <span>查看&nbsp;<a href="http://mvc.objnull.com/zh/Demo/MarkDownSyntax" target="_blank">MarkDown语法</a></span>
        <textarea id="CmtTxt" class="form-control" rows="5" style="resize:vertical;"></textarea>
    </div>
    <div class="col-md-12 text-center" style="margin: 10px 0px">
        <button id="BtnConfirm" class="btn btn-default">确定</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button id="BtnCancel" class="btn btn-default">取消</button>
    </div>
</div>
