@using MVCWeb.Model.Models
@{
    List<BlogComment> CommentList = ViewBag.BlogCommentList as List<BlogComment>;
}
@if (CommentList.Count > 0)
{
    foreach (BlogComment comment in CommentList)
    {
        if(comment.Delete)
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    评论已删除
                </div>
            </div>
            <hr style="margin: 10px 0px" />
            continue;
        }
        string userName = string.IsNullOrEmpty(comment.Owner.Name) ? comment.Owner.GitHubLogin : comment.Owner.Name;
        <div class="row">
            <div id="Comment@(comment.Order)" class="col-md-12" cmid="@comment.ID">
                @Html.Raw(comment.MDValue)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="line-height: 32px;padding-top: -10px">
                <a href="@Url.Action("UserProfile", "Home", new { id = comment.Owner.ID })" target="_blank" style="text-decoration:none">
                    <img class="img-rounded" style="max-width: 32px" src="@comment.Owner.AvatarUrl&s=32" height="32" width="32" alt="@userName">
                </a>
                <a href="@Url.Action("UserProfile", "Home", new { id = comment.Owner.ID })" target="_blank">@userName.MaxByteLength(20)</a>
                <span class="fs2" title="评论时间"><span class="glyphicon glyphicon-time"></span>@comment.InsertDate.ToBlurDate()</span>
                @if (ViewBag.Login && ViewBag.CUID == comment.OwnerID)
                {
                    <a href="javascript:;" style="text-decoration:none" onclick="DeleteComment('@comment.ID', @ViewBag.CurrentPage)">删除</a>
                }
                &nbsp;
                <a id="ShowReply@(comment.Order)" href="javascript:;" style="text-decoration:none" onclick="ShowReply(@comment.Order, 1)" recount="@comment.ReplyCount">
                    @if (comment.ReplyCount > 0)
                    { @Html.Raw(comment.ReplyCount + "条回复") }
                    else if (ViewBag.Login && string.IsNullOrEmpty(ViewBag.DisableMsg))
                    { @Html.Raw("回复") }
                </a>
            </div>
        </div>
        <div id="ReplyBox@(comment.Order)" class="row" style="padding-left: 36px; display:none;padding-top:5px">
            <div class="col-md-12">
                <div class="row">
                    <div id="Replys@(comment.Order)" class="col-md-12">
                    </div>
                </div>
                @if (ViewBag.Login && string.IsNullOrEmpty(ViewBag.DisableMsg))
                {
                    <div class="row">
                        <div class="col-md-11">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span id="ReplyToUser@(comment.Order)">@@@userName.MaxByteLength(20) </span>
                                    <a id="DefaultUser@(comment.Order)" href="javascript:;" style="display:none" onclick="ReplyDefault(@comment.Order,'@userName.MaxByteLength(20)','@comment.Owner.ID')">
                                        <span class="badge">x</span>
                                    </a>
                                </div>
                                <input id="ReplyTxt@(comment.Order)" type="text" class="form-control" touser="@comment.OwnerID" />
                            </div>
                        </div>
                        <div class="col-md-1 text-right">
                            <button id="BtnAddReply@(comment.Order)" class="btn btn-default" onclick="AddReply(@comment.Order)">确定</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <hr style="margin: 10px 0px" />
    }
}
else
{
    <div class="row" style="padding-top: 30px; padding-bottom: 50px">
        <div class="col-md-12 text-center">
            还没有人评论
        </div>
    </div>
}
<input type="hidden" id="CommentTotalCount" value="@ViewBag.TotalCount" />
<input type="hidden" id="CommentCurrentPage" value="@ViewBag.CurrentPage" />
<div class="row">
    <div id="Pager" class="col-md-12 text-center">
    </div>
</div>