@using MVCWeb.Model.Models
@{
    List<BlogComment> CommentList = ViewBag.BlogCommentList as List<BlogComment>;
}
@if (CommentList.Count > 0)
{
    foreach (BlogComment comment in CommentList)
    {
        <div class="row">
            <div class="col-md-12">
                @Html.Raw(comment.MDValue)
            </div>
            <div class="col-md-12" style="line-height: 32px;margin-top: -10px">
                <a><img src="@comment.Owner.AvatarUrl&s=32" alt="@comment.Owner.Name" title="@comment.Owner.Name"></a>
                <a>@comment.Owner.Name</a>
                <span class="fs2"> at <span class="glyphicon glyphicon-time"></span>@comment.InsertDate.ToString("yyyy-MM-dd HH:MM")</span>
                <a id="ShowReply@(comment.ID)" href="javascript:;" style="text-decoration:none" onclick="ShowReply('@comment.ID')" recount="@comment.ReplyCount">
                    @if (comment.ReplyCount > 0)
                    { @Html.Raw(comment.ReplyCount + "条回复") }
                    else
                    { @Html.Raw("回复") }
                </a>
            </div>
        </div>
        <div id="ReplyBox@(comment.ID)" class="row" style="padding-left: 40px; display:none;margin-top:10px">
            <div id="Replys@(comment.ID)"></div>
            <div id="ReplyPager@(comment.ID)" class="col-md-12 text-center" style="margin: -15px 0px">
            </div>
            <div class="col-md-11">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span id="ReplyToUser@(comment.ID)">@@@comment.Owner.Name </span>
                        <a id="DefaultUser@(comment.ID)" href="javascript:;" style="display:none" onclick="ReplyDefault('@comment.ID','@comment.Owner.Name','@comment.Owner.ID')"><span class="badge">x</span></a>
                    </div>
                    <input id="ReplyTxt@(comment.ID)" type="text" class="form-control" touser="@comment.OwnerID" />
                </div>
            </div>
            <div class="col-md-1">
                <button class="btn btn-default" onclick="AddReply('@comment.ID')">确定</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr style="border: 1px dotted #eee; margin: 10px" />
            </div>
        </div>
    }
}
else
{
    <div class="col-md-12 text-center">
        还没有人评论
    </div>
}
<input type="hidden" id="CommentTotalCount" value="@ViewBag.TotalCount" />