@using MVCWeb.Model.Models;
@{
    ViewBag.Title = "新姿势 - 象空";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    Blog Draft = ViewBag.DraftBlog as Blog;
}
@section head{
    <!--fileupload-->
    <script src="~/Scripts/FileUpload/vendor/jquery.ui.widget.js"></script>
    <script src="~/Scripts/FileUpload/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/FileUpload/jquery.fileupload.js"></script>
    <!--highlight.js-->
    <link href="~/Scripts/HighlightJs/default.min.css" rel="stylesheet" />
    <script src="~/Scripts/HighlightJs/highlight.min.js"></script>
    <!--marked-->
    <script src="~/Scripts/Marked/marked.js"></script>
    <!--Page-->
    <script src="~/Scripts/Views/BlogNew.js"></script>
}
<div class="row" style="padding-top: 15px">
    <div id="MDTitle" class="col-md-10 fs1">
        @(Draft == null ? "" : Draft.Title)
    </div>
    <div class="col-md-2 text-right">
        <span id="LblBType" class="label label-primary" style="font-weight: 400">姿势</span>
    </div>
</div>
<div class="row" style="padding-top: 15px">
    <div id="MDValue" class="col-md-12 mdv">
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-10">
        <input id="TxtTitle" type="text" class="form-control" placeholder="标题" value="@(Draft == null ? "" : Draft.Title)" />
    </div>
    <div class="col-md-2">
        @Html.GetSelectByEnum(typeof(EnumBlogType), "", "form-control", true, "SltType")
    </div>
</div>
@if (string.IsNullOrEmpty(ViewBag.DisableMsg))
{
    <div class="row">
        <div class="col-md-12">
            <span>查看&nbsp;<a href="http://mvc.objnull.com/zh/Demo/MarkDownSyntax" target="_blank">MarkDown语法</a>&nbsp;,&nbsp;</span>
            <input id="JqueryUpload" class="uploader" type="file" name="upFile" data-url="@Url.Action("JqueryUploadImg", "File", new { pt = (int)EnumObjectType.姿势 })" style="display:none">
            <span>拖拽或<a id="TxtChoseFile" href="javascript:;">选择图片</a>上传（chrome内核支持截图粘贴）&nbsp;&nbsp;</span>
            <span id="UpPercent" style="color:#ff6a00"></span>
        </div>
    </div>
    <input id="ValPt" type="hidden" value="@((int)EnumObjectType.姿势)" />
    <div class="row">
        <div class="col-md-12">
            <textarea id="TxtMD" class="form-control" rows="15" style="resize:vertical;">@(Draft == null ? "" : Draft.MDText)</textarea>
        </div>
    </div>
    <div class="row" style="padding-bottom: 20px">
        <div class="col-md-12">
            <span id="DraftStatus"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <button id="BtnDraft" class="btn btn-default">保存草稿</button>
        </div>
        <div class="col-md-10 text-center">
            <button id="BtnConfirm" class="btn btn-default">发布</button>
        </div>
    </div>
}
else
{
    <div class="row" style="padding: 30px 0px">
        <div class="col-md-12 text-center">
            @ViewBag.DisableMsg
        </div>
    </div>
}