@using MVCWeb.Model.Models
@{
    List<BlogCommentReply> CommentReplyList = ViewBag.BlogCommentReplyList as List<BlogCommentReply>;
}

@foreach (BlogCommentReply reply in CommentReplyList)
{
    string userName = string.IsNullOrEmpty(reply.Owner.Name) ? reply.Owner.GitHubLogin : reply.Owner.Name;
    string toUserName = string.IsNullOrEmpty(reply.ToUser.Name) ? reply.ToUser.GitHubLogin : reply.ToUser.Name;
    <div class="row">
        <div class="ReplyBar col-md-12 fs2">
            <div style="float:left;">
                <a href="@Url.Action("UserProfile", "Home", new { id = reply.Owner.ID })" target="_blank" style="text-decoration:none">
                    <img class="img-rounded" style="max-width: 32px" src="@reply.Owner.AvatarUrl&s=32" height="32" width="32" alt="@userName" title="@userName">
                </a>
            </div>
            <div style="padding-left:40px">
                <span>
                    <a href="@Url.Action("UserProfile", "Home", new { id = reply.Owner.ID })" target="_blank">@userName.MaxByteLength(20)</a>&nbsp;回复&nbsp;
                    <a href="@Url.Action("UserProfile", "Home", new { id = reply.ToUserID })" target="_blank">@toUserName.MaxByteLength(20)</a>&nbsp;
                    <span title="回复时间"><span class="glyphicon glyphicon-time"></span>@reply.InsertDate.ToBlurDate()</span>&nbsp;
                    @if (ViewBag.Login && string.IsNullOrEmpty(ViewBag.DisableMsg))
                    {
                        <a id="BtnReply" style="display:none" href="javascript:;" onclick="ReplyToUser(@ViewBag.COrder, '@userName.MaxByteLength(20)', '@reply.Owner.ID')">回复</a>
                    }
                </span>
                <p>@Html.Raw(reply.Content)</p>
            </div>
        </div>
    </div>
}
<input type="hidden" id="ReplyTotalCount@(ViewBag.COrder)" value="@ViewBag.TotalCount" />
<input type="hidden" id="ReplyCurrentPage@(ViewBag.COrder)" value="@ViewBag.CurrentPage" />
<div class="row">
    <div id="ReplyPager@(ViewBag.COrder)" class="col-md-12 text-center" style="margin: -15px 0px">
    </div>
</div>