@using MVCWeb.Model.Models;
@{
    List<Feedback> FeedbackList = ViewBag.FeedbackList as List<Feedback>;
}

@foreach (Feedback feedback in FeedbackList)
{
    <div class="row">
        <div class="col-md-12">
            <div style="padding-top: 10px; border-top: 1px solid #eee">
                <p><span class="glyphicon glyphicon-time"></span> @feedback.InsertDate.ToBlurDate() <span style="color: #ff6a00">@feedback.UserName</span> : @feedback.Content</p>
            </div>
        </div>
    </div>
}
<input type="hidden" id="TotalCount" value="@ViewBag.TotalCount" />
<input type="hidden" id="CurrentPage" value="@ViewBag.CurrentPage" />
@if (ViewBag.ShowPager)
{
    <div class="row" style="margin-bottom: -20px">
        <div id="FBPager" class="col-md-8 col-md-offset-2 text-center">
        </div>
    </div>
}
