@using MVCWeb;
@using MVCWeb.Model.Models;
@{
    List<NewBeeFloor> NewBeeFloorList = ViewBag.NewBeeFloorList as List<NewBeeFloor>;
}

@foreach (NewBeeFloor floor in NewBeeFloorList)
{
    if (floor.Delete)
    {
        <hr />
        <div class="row">
            <div class="col-md-12 text-center">
                楼层已删除
            </div>
        </div>
        continue;
    }
    string userName = string.IsNullOrEmpty(floor.Owner.Name) ? floor.Owner.GitHubLogin : floor.Owner.Name;
    <hr />
    <div class="row">
        <div class="col-md-2 text-right">
            <a href="@Url.Action("UserProfile", "Home", new { id = floor.Owner.ID })" target="_blank">
                <img class="img-rounded" style="max-width: 96px" src="@floor.Owner.AvatarUrl&s=96" alt="@userName" title="@userName">
            </a>
            <div class="fs2" style="margin-top:5px;">
                <a href="@Url.Action("UserProfile", "Home", new { id = floor.Owner.ID })" target="_blank">@userName.MaxByteLength(20)</a>
            </div>
        </div>
        <div class="col-md-8 mdv" id="Comment@(floor.Order)" cmid="@floor.ID">
            <div class="row FloorMDV" style="min-height: 96px">
                <div class="col-md-12" id="ImgV@(floor.Order)">
                    @Html.Raw(floor.MDValue)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <a id="ShowReply@(floor.Order)" class="BtnShowReply" href="javascript:;" style="text-decoration:none" onclick="ShowReply(@floor.Order, 1)" recount="@floor.ReplyCount">
                        @if (floor.ReplyCount > 0)
                        { @Html.Raw(floor.ReplyCount + "条回复") }
                        else if (ViewBag.Login && string.IsNullOrEmpty(ViewBag.DisableMsg))
                        { @Html.Raw("回复") }
                    </a>&nbsp;
                    @if (ViewBag.Login && ViewBag.CUID == floor.OwnerID)
                    {
                        <a href="javascript:;" style="text-decoration:none" onclick="DeleteFloor('@floor.ID', @ViewBag.CurrentPage)">删除</a>
                    }
                    &nbsp;
                    <span><span class="glyphicon glyphicon-list"></span>&nbsp;@floor.Order 楼</span>&nbsp;
                    <span><span class="glyphicon glyphicon-time"></span>&nbsp;@floor.InsertDate.ToString("yyyy-MM-dd HH:mm")</span>
                </div>
            </div>
            <div id="ReplyBox@(floor.Order)" class="row" style="display:none;padding-top:10px">
                <div class="col-md-12">
                    <div class="row">
                        <div id="Replys@(floor.Order)" class="col-md-12"></div>
                    </div>
                    <div class="row">
                        @if (ViewBag.Login)
                        {
                            if (string.IsNullOrEmpty(ViewBag.DisableMsg))
                            {
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span id="ReplyToUser@(floor.Order)">@@@userName.MaxByteLength(20) </span>
                                            <a id="DefaultUser@(floor.Order)" href="javascript:;" style="display:none" onclick="ReplyDefault(@floor.Order,'@userName.MaxByteLength(20)','@floor.Owner.ID')"><span class="badge">x</span></a>
                                        </div>
                                        <input id="ReplyTxt@(floor.Order)" type="text" class="form-control" touser="@floor.OwnerID" />
                                    </div>
                                </div>
                                <div class="col-md-2 text-right">
                                    <button class="btn btn-default" onclick="AddReply(@floor.Order)">确定</button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<input type="hidden" id="TotalCount" value="@ViewBag.TotalCount" />
<input type="hidden" id="CurrentPage" value="@ViewBag.CurrentPage" />
@if (ViewBag.ShowPager)
{
    <div class="row" style="margin-bottom: -20px">
        <div id="NBFPager" class="col-md-8 col-md-offset-2 text-center">
        </div>
    </div>
}
