@using MVCWeb;
@using MVCWeb.Model.Models;
@{
    List<UserStar> UserStars = ViewBag.UserStars as List<UserStar>;
}
<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked text-center">
            <li class="@(ViewBag.Type == (int)EnumObjectType.姿势 ? "active" : "")"><a href="javascript:;" onclick="UserStarPage(1, @((int)EnumObjectType.姿势))">姿势</a></li>
            <li class="@(ViewBag.Type == (int)EnumObjectType.NewBee ? "active" : "")"><a href="javascript:;" onclick="UserStarPage(1, @((int)EnumObjectType.NewBee))">NewBee</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                @{
                    string StarUrl = "";
                    switch ((int)ViewBag.Type)
                    {
                        case (int)EnumObjectType.姿势:
                            StarUrl = Url.Action("BlogView", "Home");
                            break;
                        case (int)EnumObjectType.NewBee:
                            StarUrl = Url.Action("NewBeeView", "Home");
                            break;
                    }
                }
                @foreach (UserStar star in UserStars)
                {
                    <div class="row StarInfo" style="padding: 5px 0px">
                        <div class="col-md-12">
                            <div style="float:left">
                                <a class="fs3" href="@StarUrl/@star.ObjID" target="_blank" style="text-decoration:none">@star.Title.MaxByteLength(70)</a>
                                &nbsp;
                                <span style="display:none" id="TxtModify">
                                    <a href="javascript:;" onclick="StarDelete('@star.ID', @ViewBag.CurrentPage, @ViewBag.Type)">删</a>
                                </span>
                            </div>
                            <div class="fs2" style="float:right">
                                <span title="收藏日期"><span class="glyphicon glyphicon-time"></span>&nbsp;@star.InsertDate.ToBlurDate()</span>
                            </div>
                        </div>
                    </div>
                }
                @if (UserStars.Count == 0)
                {
                    <div class="row" style="padding: 30px 0px">
                        <div class="col-md-12 text-center">
                            没有找到相关数据
                        </div>
                    </div>
                }
                <input type="hidden" id="TotalCount" value="@ViewBag.TotalCount" />
                <input type="hidden" id="CurrentPage" value="@ViewBag.CurrentPage" />
                <div class="row" style="margin-bottom: -15px">
                    <div id="UserPager" class="col-md-12 text-center"></div>
                </div>
            </div>
        </div>
    </div>
</div>
