@{ 
    Layout = null;
    CurrentUser CurrentUser = ViewBag.User as CurrentUser;
}

@if (CurrentUser != null)
{
    <li id="MsgLi" class="dropdown">
        <a id="BtnMsg" href="javascript:;">消息<span id="MsgCount" class="badge">@(ViewBag.MsgCount == 0 ? "" : ViewBag.MsgCount)</span></a>
        <div id="MsgBox" class="dropdown-menu">
            <div class="text-center">加载中……</div>
        </div>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="min-width:160px">
            <img class="img-rounded" src="@CurrentUser.AvatarUrl&s=32" height="32" width="32" style="margin: -7px 0px" />
            @CurrentUser.UserName &nbsp;&nbsp;<span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="https://github.com/@(CurrentUser.GitHubLogin)">我的Github</a></li>
            <li><a href="@Url.Action("UserProfile", "Home")">我的主页</a></li>
            <li><a href="@Url.Action("UserProfile", "Home")">我的消息</a></li>
            <li><a id="BtnUpdateInfo" href="javascript:;">更新账号</a></li>
            <li><a href="@Url.Action("LogOut", "OAuth")">退出</a></li>
        </ul>
    </li>
}
else
{
    <li><a href="https://github.com/login/oauth/authorize?client_id=b89774f9a3a874e349ce&redirect_uri=http://objnull.com/OAuth/GitHubLogin&scope=user,public_repo&state=12345" >登录</a></li>
}
<input id="CurrentUserID" type="hidden" value="@(CurrentUser == null ? "" : CurrentUser.ID.ToString())" />